@media only screen and (min-width: 100px) {
 body{
    background-color: aquamarine;
};
h1{

}
.jumbotron {
    text-align: center;
    color:yellow;
    background-image:url("https://media.gettyimages.com/photos/kente-cloth-is-display-in-eastern-ghana-may-13-2004-ghana-is-the-most-picture-id51178110?s=612x612");
};
img {

}
.card img{
    border-radius: 100px;
    float:right;
};
};
